---
layout: default
title: Leah von Ahlburg | Blog
description: News, updates and inspiration from Leah von Ahlburg Collection. Peak behind the scenes and get insights from our creators as well as style tips and our take on the latest resort and beachwear trends.
keywords: leah von ahlburg collection
---
{% for posts in site.posts limit:1 %}
<header class="header-img text-center" style="background-image: url('{{posts.image}}')">
  <div class="margin-top-l text-center-mobile">
    <h1 class="text-white text-shadow text-extra-large">Leah von Ahlburg | Blog</h1>
    <h3 class="text-yellow text-shadow text-large">News, Updates and Inspiration</h3>
  </div>
  <div class="bg-white-trans title-container">
    <div class="pad-all-m pad-top-s">
      <a href="{{posts.url}}"><h1>{{posts.title}}</h1></a>
      <h6>Published {{posts.date | date: '%B %d, %Y'}}</h6>
      <!-- <a href="#post"><i class="fa fa-angle-double-down icon-large text-yellow" aria-hidden="true"></i></a> -->
    </div>
  </div>
</header>
<section id="post" class="section-padding grid-center">
  <div class="col-10 pad-bottom-m">
    {{posts.content}}
  </div>
</section>
{% endfor %}
<section id="more-posts" class="section-padding bg-whitesmoke">
  <h2 class="text-center pad-bottom-xs">Older Blog Posts:</h2>
  {% for posts in site.posts reversed limit:1 offset:1 %}
  <div class="bg-white shadow">
    <div style="background-image: url('{{posts.image}}')" class="blog-top-img"></div>
    <div class="pad-right-s pad-left-s">
      <h3>{{posts.title}}</h3>
      <h6>Published on {{ posts.date | date: "%b %-d, %Y" }}</h6>
      <p>{{posts.excerpt}}</p>
    </div>
    <a href="{{posts.url}}"><button class="button-blog">Read More</button></a>
  </div>
  {% endfor %}
  <div class="grid-spaceBetween margin-top-xs pad-bottom-s">
    {% for posts in site.posts limit:6 offset:2 %}
    <div class="col-5_md-12 margin-top-s shadow">
      <div style="background-image: url('{{posts.image}}')" class="blog-list-img"></div>
      <div class="pad-right-s pad-left-s">
        <h3>{{posts.title}}</h3>
        <h6>Published on {{ posts.date | date: "%b %-d, %Y" }}</h6>
      </div>
      <a href="{{posts.url}}"><button class="button-blog">Read More</button></a>
    </div>
    {% endfor %}
  </div>
</section>
<section class="pad-all-s">
  <div class="grid-middle-center">
    <div class="col-6_md-8_sm-10">
      <h2 class="text-center">JOIN OUR WORLD</h2>
      <p class="strong pad-bottom-s text-center">
          Get inspired by our creators and receive the latest style updates and special promotions, straight in your inbox.
      </p>
      {% include email-signup.html %}
    </div>
  </div>
</section>
