<form id="email_signup" class=" klaviyo_bare_embed_PPiBnW" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="PPiBnW">
  <div class="klaviyo_field_group">
    <label for="k_id_email">Email Address</label>
    <input type="email" value="" name="email" id="k_id_email" required/>
  </div>
	<div>
		<label for="$first_name">First Name</label>
		<input type="text" value="" name="$first_name"/>
	</div>
	<div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="klaviyo_submit_button button-main margin-top-s" style="width: 100%;">Subscribe</button>
  </div>
</form>

<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup', {
    hide_form_on_success: true
  });
</script>
