<footer class="margin-top-s">
  <div class="footer-lotus-container">
    <img src="/images/home-header-logo_300x300.png" alt="lva logo lotus"/>
  </div>
  <div class="grid-spaceAround-center text-center">
    <div class="col-3_sm-12">
      <h3>Customer Service</h3>
      <p><a href="https://leahvonahlburg.com/pages/returns-exchanges">Shipping & Exchanges</a></p>
      <p><a href="https://leahvonahlburg.com/pages/privacy-policy">Security & Privacy</a></p>
      <p><a href="https://leahvonahlburg.com/pages/terms-conditions">Terms & Conditions</a></p>
      <p><a href="https://leahvonahlburg.com/pages/contact">Contact</a></p>
    </div>
    <div class="col-3_sm-12">
      <h3>Explore</h3>
      <p><a href="/">Blog</a></p>
      <div class="grid-center">
        <div class="col-4 grid-middle-center-spaceAround icon-large text-white">
          <p><a href="https://www.facebook.com/leahvonahlburg/" target=blank><i class="fa fa-facebook-official" aria-hidden="true"></i></a></p>
          <p><a href="https://www.pinterest.com/leahvonahlburgcollections/" target=blank><i class="fa fa-pinterest" aria-hidden="true"></i></a></p>
          <p><a href="https://www.instagram.com/leahvonahlburg.collection/?hl=en" target=blank><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>
    <div class="col-3_sm-12">
      <h3>Shop</h3>
      <p><a href="https://leahvonahlburg.com/account/login">Account</a></p>
      <p><a href="https://leahvonahlburg.com/collections">Collection</a></p>
      <p><a href="https://leahvonahlburg.com/pages/contact">Contact Us</a></p>
    </div>
  </div>
  <div class="col-12 grid-center">
    <p class="col-12 text-center margin-top-xs pad-bottom-xs" style="color:#ccc;"><i class="fa fa-copyright" aria-hidden="true"></i> 2018 Leah Von Ahlburg. All Rights Reserved.</p>
  </div>
</footer>
