<!-- <a href="https://leahvonahlburg.com/#subscribe" class="announcement-bar"><div class="announcement-bar text-center">
  <p class="announcement-bar__message">ENJOY 30% OFF WHEN YOU SIGN UP FOR OUR NEWSLETTER</p>
</div></a> -->
<nav class="grid-middle-spaceBetween">
  <div class="col-1_md-3_sm-4">
    <a href="https://leahvonahlburg.com/">
      <img src="/images/home-header-logo_300x300.png" alt="leah von ahlburg collection logo gold lotus" class="header-logo"/>
    </a>
  </div>
  <div class="col-2_md-3 grid-spaceBetween hide-in-mobile">
    <a href="https://leahvonahlburg.com/collections/all">Shop</a>
    <a href="https://leahvonahlburg.com/pages/meet-and-greet">Our Story</a>
    <a href="/">Blog</a>
  </div>
  <div class="col-1_md-3 grid-spaceBetween hide-in-mobile">
    <a href="https://leahvonahlburg.com/account/login" class="text-yellow text-notransform">Log in</a>
    <a href="https://leahvonahlburg.com/cart" class="text-yellow text-notransform">Cart</a>
  </div>
  <div class="mobile-menu margin-right-s">
    <a href="https://leahvonahlburg.com/collections/all">Shop</a>
    <a href="https://leahvonahlburg.com/pages/meet-and-greet">Our Story</a>
    <a href="/">Blog</a>
  </div>
</nav>
