<nav class="grid-middle-spaceBetween">
  <div class="col-2_md-3_sm-4">
    <a href="https://leahvonahlburg.com/">
      <img src="/images/home-header-logo_300x300.png" alt="leah von ahlburg collection logo gold lotus" class="header-logo margin-top-xs margin-left-s"/>
    </a>
  </div>
  <div class="col-2_md-3 grid-spaceBetween hide-in-mobile">
    <a href="https://leahvonahlburg.com/">Home</a>
    <a href="/">Main Blog Page</a>
  </div>
  <div class="col-2_md-3 hide-in-mobile">
    <a href="https://leahvonahlburg.com/collections"><button class="button-shop">Back to Shop</button></a>
  </div>
  <div class="mobile-menu margin-right-s">
    <p><a href="https://leahvonahlburg.com/"><button class="button-shop">Home</button></a></p>
    <p><a href="/"><button class="button-shop">Blog</button></a></p>
    <p><a href="https://leahvonahlburg.com/collections"><button class="button-shop">Shop</button></a></p>
  </div>
</nav>
