---
layout: default
---
<header class="header-img grid" style="background-image: url('{{page.image}}')">
  <div class="col-6_md-4_sm-0">

  </div>
  <div class="col-6_md-8_sm-12 text-right margin-top-l pad-right-s text-center-mobile">
    <h1 class="text-white text-shadow text-extra-large">{{page.title}}</h1>
    <h3 class="text-yellow text-shadow text-large">Published {{page.date | date: "%b %-d, %Y"}}</h3>
  </div>
</header>
<section class="section-padding">
  {{content}}
  <div class="text-center pad-top-m pad-bottom-xs">
    <a href="/"><button class="button-main">Go back to main blog page</button></a>
  </div>
</section>
