---
layout: default
---
<header class="header-img text-center" style="background-image: url('{{page.image}}')">
  <div class="margin-top-m text-center-mobile">
    <h1 class="text-white text-shadow text-extra-large">Leah von Ahlburg | Blog</h1>
    <h3 class="text-yellow text-shadow text-large">News, Updates and Inspiration</h3>
  </div>
  <div class="bg-white-trans title-container">
    <div class="pad-all-m pad-top-s">
      <h1>{{page.title}}</h1>
      <h6>Published {{page.date | date: '%B %d, %Y'}}</h6>
      <a href="#post"><i class="fa fa-angle-double-down icon-large text-yellow" aria-hidden="true"></i></a>
    </div>
  </div>
</header>
<section id="post" class="section-padding grid-center">
  <div class="col-10 post-container">
    {{content}}
  </div>
  <div class="text-center pad-top-m pad-bottom-xs">
    <a href="/"><button class="button-main">Go back to main blog page</button></a>
  </div>
</section>
